{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}
{% block content %}
<div class="overlay"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="page-heading">
        <h1>Create Account</h1>
        <span class="subheading"></span>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {{wtf.quick_form(registration_form)}}
    </div>
  </div>
</div>
{% endblock %}